= render 'form'
%br
= link_to 'Delete', template_path(@template), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
= link_to 'Back', template_path(@template), class: 'btn btn-default'
