= render 'form'
%br
= link_to 'Delete', project_description_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
= link_to 'Back', project_path(@project), class: 'btn btn-default'