= render layout: 'form' do
	= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-well'
	= link_to 'Back', @project, class: 'btn btn-default btn-well'
