= f.input :name, as: :string
= f.input :content, input_html: { class: 'tinymce' }
.body-section-filled-liquid-template
	= f.simple_fields_for :filled_liquid_template do |filled_liquid_template|
		= render 'filled_liquid_templates/fields', f: filled_liquid_template
