= render layout: 'form' do
	= link_to 'Delete', book_body_section_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-well'
	= link_to 'Back', @book, class: 'btn btn-default btn-well'